.button {
  letter-spacing: 0.2rem;
  font-weight: bold;
  height: 3.5rem;
  &.clear-song-list {
    color: red;
    margin-left: 1rem;
    transition: 2s all ease-in-out;
    height: 3.7rem;

    &:hover {
      cursor: pointer;
      background-color: red;
      color: black;
    }
  }
  &.add-song {
    height: 3.5rem;
    font-weight: bold;
    background-color: rgb(25, 211, 25);
    color: blue;
    font-weight: bolder;
  }

  &.clear-lyrics {
    position: fixed;
    bottom: 2rem;
    color: black;
    // margin-left: auto;
    // margin-right:auto
    // margin-left: 40%;
    &:hover {
      cursor: pointer;
    }
  }
}
