.song-detail-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clear-lyrics {
  position: fixed;
  bottom: 2rem;
  color: black;
  // margin-left: auto;
  // margin-right:auto
  // margin-left: 40%;
  &:hover {
    cursor: pointer;
  }
}
