.songlist-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
}
.table {
  // color: white;
  width: 90vh;
  margin: 0 auto;
  border: none;
  tr {
    margin-bottom: 10rem;
  }
  td:first-child {
    color: greenyellow;
    font-size: 1.4rem;

    font-weight: bold;
  }
  // td:nth-child(2) {
  //   color: beige !important;
  // }
  //----second td is shown as "a" on DOM
  a:first-child {
    color: rgb(19, 19, 179);
    font-size: 1.4rem;
    font-weight: bold;
    word-break: break-all;
    // text-decoration: none;
  }
  th:first-child {
    color: red;
  }
  th:nth-child(2) {
    color: white;

    font-weight: bolder;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: Alice-Regular;
  }
  th:nth-child(3) {
    color: white;
    font-size: 1.9rem;

    text-transform: uppercase;
    margin-left: 0;
    padding-left: 0.5rem;
  }
  .caption {
    color: #ffff00;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-family: GreatVibes;
    font-size: 3rem;
    margin-bottom: 0.6rem;
  }
}

.delete-icon {
  height: 2rem;
  width: 2rem;
  margin-left: 1.5rem;
  color: Red;
  // color: white;
  cursor: pointer;
}
.buttons-section {
  position: fixed;
  bottom: 5rem;
  text-align: center;
  display: flex;
  justify-content: center !important;
  // align-items: center;
  // margin-left: 32%;
  height: 4rem;
  .plus-icon {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    // margin-left: 5%;
  }
}

// .table-head-row {
//   margin-bottom: 5rem;
// }
